In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('carprices.csv')
df.head()

  Car Model  Mileage  Sell Price($)  Age(yrs)
0    BMW X5    69000          18000         6
1    BMW X5    35000          34000         3
2    BMW X5    57000          26100         5
3    BMW X5    22500          40000         2
4    BMW X5    46000          31500         4

In [18]:
dummy=pd.get_dummies(df['Car Model']).drop('Mercedez Benz C class',axis=1)

In [23]:
data=pd.concat([df,dummy],axis=1)

In [26]:
newdf=data.drop(['Car Model'],axis=1)

In [27]:
newdf.head()

   Mileage  Sell Price($)  Age(yrs)  Audi A5  BMW X5
0    69000          18000         6        0       1
1    35000          34000         3        0       1
2    57000          26100         5        0       1
3    22500          40000         2        0       1
4    46000          31500         4        0       1

# Training Model

In [28]:
from sklearn.linear_model import LinearRegression

In [29]:
reg=LinearRegression()

In [33]:
X=newdf.drop(['Sell Price($)'],axis=1)
y=newdf['Sell Price($)']

In [38]:
model=reg.fit(X,y)

In [39]:
X.columns

Index(['Mileage', 'Age(yrs)', 'Audi A5', 'BMW X5'], dtype='object')

In [41]:
model.predict([[45000,4,0,0]])[0]

36991.31721061283

In [48]:
model.predict([[86000,7,0,1]])[0]

11080.743132190648

In [47]:
model.score(X,y)

0.9417050937281083

## Saving Model

In [49]:
import joblib as jb

In [50]:
jb.dump(model,'LR model')

['LR model']

In [51]:
reg=jb.load('LR model')

In [52]:
reg.predict([[86000,7,0,1]])[0]

11080.743132190648